<!doctype html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block bootstrap_css %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootswatch/dist/sandstone/bootstrap.min.css">

    <style>
        {{ include ('assets/css/master.css.twig') }}
    </style>
{% endblock %}
{% block site_title %}
    <title>
        {% if tab_form.name %}
            Cassei {{ tab_form.name }} Druck Service
        {% else %}
            Classei Tab Druck Service
        {% endif %}
    </title>
{% endblock %}
</head>
<body>
{% block body %}
    <div class="container-fluid" id="chrome">
        <div class="row">
            <div class="col">
                {% if tab_form.name %}
                    <h1>{{ tab_form.name }}</h1>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col" id="form_container">
                {% block tab_form %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="jumbotron" id="no_chrome">
        <h1 class="display-4">Leider ist Ihr Browser nicht kompatibel</h1>
        <p class="lead">Leider ist Classei Online Druck nicht mit ihrem Browser kompatibel. <br/>Nutzen Sie bitte <a target="_blank" href="https://www.google.de/chrome/">Google Chrome</a> oder <a target="_blank" href="https://www.opera.com/de">Opera</a></p>
        <hr class="my-4">
        <p>Aus technischen Gründen ist der Druck auf anderen Browsern nicht einwandfrei. Wir arbeiten an einer Lösung um unsere Online Service für Sie universell
            kompatibel zu machen.</p>

    </div>

    {% block end_of_body %}
        {%  block js %}
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="node_modules/jquery/dist/jquery.min.js"></script>
            <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
            <script src="templates/assets/ckeditor/ckeditor.js"></script>
            <script>{% include '/assets/js/helper/browserdetect.js.twig' %}</script>
            {% endblock %}
    {% endblock %}
{% endblock %}
</body>
</html>